/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 36px 0;
}

.form input {
  width: 272px;
  height: 40px;
  padding: 0 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 14px;
}

.form button {
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.form button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding-bottom: 40px;
}

.gallery-item {
  width: 360px;
  border: 1px solid #808080;
  background-color: #fff;
  transition: box-shadow 250ms ease, border 250ms ease;
}

.gallery-item img {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  font-size: 12px;
  border-top: 1px solid #808080;
}

.info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.info b {
  font-weight: 600;
}

.load-more.is-hidden {
  display: none;
}

.load-more {
  display: block;
  margin: 20px auto;
    width: 91px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.load-more:hover {
background-color: #6c8cff;
}

.loader {
  display: block;
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
}

.loader::after {
  content: "Loading images, please wait...";
}

.is-hidden {
  display: none;
}